h1, h2, h3, h4, h5, h6{
  font-family: Raleway;
  text-transform: uppercase;
}
#logo{
  width: 60px;
  height: auto;
}
header{
  background: url("/images/header.gif");
  background-position: center;
  background-size: cover;
  padding: 170px;
  margin-bottom: 0;
}
h2{
  font-size: 2rem;
  font-weight: bold;
}
h1{
  margin-right: 20px;
}
#main-page{
  height: 200px;
  width: auto;
}

nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  margin: 0 15px;
}

select{
  margin-bottom: 20px;
}

.cards-image {
  height: 20em;
  width: 100%;
}

.destination-image {
  height: 20em;
  width: 100%;
}

.user-image {
  height: auto;
  width: 100%;
}

.scrolled {
  position: fixed;
  top: 0;
  z-index: 100;

}
/*signup form*/

#sign-up{
  display: none;
}

.show-signup{
    transition: width 2s linear 1s;
}
/* main */
h3{
  margin-top: 5rem;
}
/* footer */
.info{
  margin-bottom: 0;
}
footer p{
  margin:0;
  padding: 16px;
  font-family: 'Josefin Sans', sans-serif;
}
/* card */
div.card-panel.card{
  margin-top: 2em;
  margin-right: 90px;
}
.row .col s3{
  margin-left: 10em;
}

#target {
  margin-left: 7.5em;
}

/*Destinations*/
img{
  display: block;
  margin: 0 auto;
  padding: 5px;
}

button{
  margin-left: 45%;
}
/* Index Page */
.profileimage{
  height:250px;
  width:250px;
  margin-top: 2em;
}
.about-image{
  width: 50%;
  height: auto;
}
section{
  padding: 5rem;
}

h4{
  padding-top: 5rem;
}
.carousel{
  height: 800px;
  margin-top: -300px;
}
.profile, .row .col.s3{
  margin: 20px 50px;
}
/* Github Buttons */
.github{
  margin: 0 30%;
}
.row.light-blue.lighten-3{
  padding-bottom: 3rem;
}
/* about part */
.about{
  font-size: 20px;
  font-family: 'Josefin sans';
}
/* Show Page */
.dest-show-image {
  height: 15em;
  width: 30%;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-bottom: 1em;
  text-align: center;
}

.showimage{
  height: 40em;
  width: 85%;
}
.color{
background-color: #D2D8E5;
padding-bottom: 5rem;

}
